@import url('https://fonts.googleapis.com/css2?family=Marhey&display=swap');

h1, h2, h3, h4, h5, h6, p, label {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

.sidebar h1 {
  font-family: 'Marhey', cursive;
  font-size: 42px;
  color: red;
}

/* html, body {margin: 0; height: 100%; overflow: hidden} */


.App {
  /* text-align: center; */
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.default{
  /* background-image: url("https://img.freepik.com/free-photo/green-grass-with-sun-beam-sunset-soft-focus_117265-929.jpg"); */
  background-color: white;
  background-size: cover;
  /* height: 1080px; */
  /* background-repeat: no-repeat; */
}

.darken {
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* background: rgb(0, 0, 0, .5); */
  /* opacity: 0.2; */
}

.SignOrReg {
  background-image: url("https://media.istockphoto.com/photos/light-blue-watercolor-background-picture-id1301156172?b=1&k=20&m=1301156172&s=170667a&w=0&h=Ag7FeKGlohIwsKuJqTU180CL01lSGQieqEWv6mKK4n4=");
  margin: 0 auto;
  background-size: cover;
  width: 80%;
  border-style: solid;
  /* padding: 30px; */
}

form {
  /* margin: 20px 0; */
  /* padding: 20px; */
}

label {
  /* display: block; */
  /* padding: 5px 0; */
}

input {
  display: block;
  width: 100%;
  height: 20px;
}

button {
  margin-top: 15px;
  text-align: center;
}

h2 {
  margin: 0;
  /* color: white; */
}

.form-title {
  background-color: black;
  padding: 10px;
}

.three-way-grid {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  /* opacity: 0.5; */
  /* flex-wrap: nowrap; */
  /* align-items: stretch; */
  /* height: 100%; */
}

.right-grids {
  display: flex;
  justify-content: space-around;
}

.sidebar {
  /* flex-grow: 1; */
  /* position: fixed; */
  width: 350px;
  padding: 30px 0 10px 50px;
}

.sidebar {
  /* padding: 10px 0 10px 50px; */
}

.navigations {
  margin: 30px 0;
}

.navigations h2 {
  display: inline-block;
  margin: 0;
}

.navigations div {
  display: inline-block;
  cursor: pointer;
}

.icon {
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0 10px 15px 0;
  /* background-color: red; */
}

.post-button {
  padding: 8px 3px;
  background-color: red;
  text-align: center;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  width: 200px;
  font-size: 21px;
  border: none;
}

.main-menu {
  position: fixed;
}

.main-options {
  /* padding: 35px; */
}

.main-options h2 {
  /* padding: 15px 3px; */
}

.user-button {
  /* position: fixed; */
  /* bottom: 0;
  width: 350px;
  display: flex;
  justify-content: space-between; */
  position: fixed;
  /* margin-right: 15px; */
  bottom: 20px;
  width: 250px;
  display: flex;
  /* justify-content: space-evenly; */
  /* padding: 30px 0; */
  /* background-color: #d4d4d4; */
  border-radius: 30px;
  height: 65px;
  padding: 8px 12px;
  /* width: 200; */
  cursor: pointer;
}

.user-button img {
  width: 50px;
  height: 50px;
}

.user-button p {
  font-size: 20px; 
  /* margin: 8px 0 0 15px; */
  flex-grow: 2;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* text-align: center; */
  margin: 10px 0 10px 20px;
}

.user-button:hover {
  background-color: #D4D4D4;

}

.user-options {
  position: fixed;
  bottom: 100px;
  width: 230px;
  margin-left: 10px;
  /* border: solid red; */
  background-color: red;
  color: white;
  border-width: 1px;
  /* margin: 10px; */
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* For the small pointer below user-options div */
.user-options:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: red;
	border-bottom: 0;
	margin-left: -15px;
	margin-bottom: -15px;
}

.user-options p {
  padding: 10px;
  text-align: center;
}

/* Hides for google chrome but test with other browsers hiding the scroll bar */
::-webkit-scrollbar {
  display: none;
}

.column {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  /* width: 50%; */
  /* float: left; */
}

.following {
  /* flex-grow: 1;   */
  width: 350px; 
  /* padding: 30px 0 10px 20px; */
  /* padding: 28px 20px 15px; */
  /* overflow: scroll; */
}

.following-header {
  padding: 28px 20px 15px;
}

.main-display {
  border-color: #d4d4d4;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  /* border-color: #d4d4d4;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px; */
  /* overflow: scroll; */
  /* max-width: 750px; */
  /* min-width: 600px; */
  width: 750px;
  /* min-height: 100vh; */
  /* padding: 10px 20px 10px 20px; */
}

.main-header {
  padding: 28px 20px 15px;
  border-bottom: solid #E9E9E9;
}

.select-button {
  /* background-color: #E9E9E9; */
  /* border-radius: 15px; */
  /* height: 20px; */
  padding: 20px 0;
}

.select-button div {
  background-color: #E9E9E9;
  border-radius: 15px;
  /* width: 100%; */
  padding: 8px 0; 
  /* background-color: #E9E9E9;  */
  margin: 0 50px;
  /* width: 85%; */
  /* margin: 0 30px; */
}

.select-button p {
  margin: 0;
  text-align: center;
}

.carta {
  /* width: "18rem"; 
  margin: '0 auto'; 
  margin-bottom: '30px'; */
  /* max-width: 700px; */
  margin: 0 50px;
  /* max-width: 50%; */
  border: solid #E9E9E9;
  border-radius: 15px;
  margin-bottom: 20px;
  /* padding: 20px; */
}

.carta-body {
  padding: 20px;
  cursor: pointer;
}

.carta-bottom {
  display: inline-block;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* margin-top: 10px; */
}

.carta-text {
  margin-top: 10px;
  /* cursor: pointer; */
}


/* .home-blogs, h1 {
  padding: 10px 0 10px 20px;
} */

.user-bar {
  /* position: fixed; */
  /* margin-right: 15px; */
  /* bottom: 0; */
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  padding: 16px;
}

.search-select {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  /* height: 200px; */
  background-color: white;
  border-radius: 15px;
  /* Fade screen while highlighting this div */
  box-shadow: 0 0 0 1000px rgba(0,0,0,.3);
  /* for real browsers */
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
  /* pointer-events: none; */
}

#hobby-search {
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
}

#hobby-search-body {
  height: 430px;
}

.hobby-search-input {
  margin: 20px 40px 0;
  /* width: 100px; */
}

.search-hobby {
    /* width: 165px; */
    /* max-height: 60px; */
    /* max-width: 185px; */
    /* min-width: 100px; */
    background-color: red;
    padding: 5px 10px;
    margin: 0 5px 10px;
    text-align: center;
    border-radius: 10px;
    /* margin: 0 17px 20px; */
    color: white;
    cursor: pointer;
}

.hobby-search-header {
  margin: 15px 40px 0;
  /* font-weight: bold; */
  text-align: center;
}

.search-selection-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3px;
  justify-content: space-between;
}

.search-results {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* flex-direction: column; */
  flex-grow: 2;
  margin: 15px 38px 0;
}

.header-selection {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  border-radius: 10px 10px 0 0;
}

.header-selection .close {
  margin: 5px 0;
}

.header-selection h3, .header-selection img {
  /* justify-content: space-between; */
  /* padding: 10px; */
}

.search-option {
  padding: 10px 0;
  cursor: pointer;
}

.search-option p {
  padding-left: 20px;
}

.search-option:hover {
  background-color: #D4D4D4;
  border-radius: 10px;
}

.post {
  position: fixed;
  /* display: flex; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 360px;
  background-color: white;
  border-radius: 15px;
  /* border: solid; */
  /* Fade screen while highlighting this div */
  box-shadow: 0 0 0 1000px rgba(0,0,0,.3);
  /* for real browsers */
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
  /* pointer-events: none; */
}

.blog-switch {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  /* height: 200px; */
  background-color: white;
  border-radius: 15px;
  /* Fade screen while highlighting this div */
  box-shadow: 0 0 0 1000px rgba(0,0,0,.3);
  /* for real browsers */
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
  /* pointer-events: none; */
}

.blog-switch-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px;
}

.blog-switch input {
  color: red;
}

.post-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px 25px 0 25px;
}

.post-subject, .post-tags {
  border: 1px solid #D4D4D4;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.post-text {
  /* padding: 10px; */
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  height: 200px;
  border: 1px solid #D4D4D4;
  padding: 3px 0 0 3px;
  border-radius: 5px;
}

/* .post textarea {
  border: 1px solid #D4D4D4;
  padding: 3px 0 0 3px;
} */

.post input {
  padding: 12px 10px 12px 3px;
}

.submit-post {
  text-align: center;
  margin-top: 7px;
}

.submit-button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 auto;
  /* float: right; */
}

.save-button {
  width: 80px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  float: right;
  margin: 0 auto;
}

/* Change continue to back */
.continue-button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  float: right;
  margin: 0 auto;
}

.search-selection-body input {
  height: 40px;
  border-radius: 20px;
  /* border-color: red; */
  border: solid red;
  text-indent: 10px;
}

.center-button {
  /* text-align: center; */
  margin: 0 auto;
  padding: 5px 0;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.select-button {
  cursor: pointer;
}

.close-selection img {
  float: right;
}

.close-selection {
  padding: 8px;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

.post-header {
  padding: 0 2px 5px;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  color: red;
}

.close {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* .post-header label */

.hobby-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 50px;
}

.hobby-option {
  width: 185px;
  /* background-color: #D4D4D4; */
  padding: 5px 0;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* .hobby-option:hover {
  background-color: red;
  color: white;
} */

.hobby-header {
  margin: 5px 52px 30px;
}

.save-hobbies {
  position: fixed;
  width: 600px;
  /* height: 50px; */
  padding: 5px 15px ;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  /* background-color:#AAAAAA; */
  /* border: solid red; */
  background-color: black;
  border-radius: 5px;
  color: white;
}

.save-hobbies p {
  margin: 7px 0;
  font-weight: bold;
}

.hobby-buttons button {
  /* position: fixed; */
  width: 100px;
  height: 40px;
  border: none;
  /* background-color: red; */
  /* color: white; */
  font-weight: bold;
  border-radius: 3px;
  /* float: right; */
  margin: 0 5px;
}

.hobby-save {
  background-color: red;
  color: white;
}

.hobby-clear {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: white;
}

.hobby-clear:hover {
  text-decoration: underline;
}

.profile-header {
  border: solid #d4d4d4;
  border-width: 2px;
  margin: 20px 50px;
  border-radius: 15px;
  /* height: 200px; */
}

.profile-header-body {
  padding: 20px;
  display: flex;
  /* justify-content: center; */
}

.profile-header-image img {
  width: 150px;
  height: 150px;
}

.profile-header-text {
  padding: 0 20px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .profile-header-text div {
  padding-bottom: 30px;
} */

.profile-header-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.profile-header-follows {
  display: flex;
  margin-top: 20px;
  /* margin-right: 20px; */
  /* justify-content: space-between; */
}

.profile-header-follows p {
  padding-right: 25px;
  font-weight: bold;
}

.follow-button {
  background-color: red;
  text-align: center;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  width: 150px;
  font-size: 18px;
  border: none;
  margin: 0;
}

.comment {
  border-color: #D4D4D4;
  border-bottom-style: solid;
  border-width: 1px;
  
}

.comment-body {
  padding: 20px;
}

.comment-title {
  font-weight: bold;
}

.comment-bottom {
  display: inline-block;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-color: #D4D4D4;
  border-bottom-style: solid;
  border-width: 1px;
  /* margin-top: 10px; */
}

.comment-text {
  margin-top: 15px;
}

.comment-info {
  margin: 10px 0;
}

.comment-reply {
  border-color: #D4D4D4;
  border-bottom-style: solid;
  border-width: 1px;
  /* overflow: auto; */
  padding: 20px;
}

.comment-reply-text {
    /* border: 1px solid black; */
    /* max-height: 500px; */
    /* overflow: auto; */
}

/* div[contenteditable]{
  border: 1px solid black;
  max-height: 200px;
  overflow: auto;
} */

.comment-reply-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.comment-ratings {
  display: flex;
  padding: 7px 0;

}

.comment-button {
  background-color: red;
  text-align: center;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  width: 120px;
  font-size: 18px;
  border: none;
  margin: 0;
  padding: 7px 0;
}

.rating-icon {
  width: 30px;
  height: 30px;
  margin-right: 12px;
  /* filter: invert(67%) sepia(89%) saturate(7492%) hue-rotate(346deg) brightness(84%) contrast(146%); */
  /* fill: red; */
  cursor: pointer;
}

.comment-rating-icon {
  width: 20px;
  height: 20px;
}

.comment-header {
  display: flex;
}

.comment-header img {
  margin-left: 10px;
}

/* .rating-icon {
  fill: red;
} */

.user-search {
  margin: 0 50px;
  /* max-width: 50%; */
  border: solid #E9E9E9;
  border-radius: 15px;
  margin-bottom: 20px;
  border: solid #D4D4D4;
}

.user-search-body {
  display: flex;
  padding: 20px;
}

.user-search-text {
  margin-left: 10px;
}

.user-search-text h5{
  font-weight: bold;
}

.hobby-list p {
  display: inline-block;
  padding-right: 5px;
}

.tags-header {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  border-radius: 10px 10px 0 0;
}

.tags-selection-body {
  display: flex;
  flex-direction: column;
  height: 435px;
  padding: 3px;
  justify-content: space-between;
}

.hobby-tags {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* flex-direction: column; */
  flex-grow: 2;
  margin: 15px 14px 0;
}

.tag-error {
  display: flex;
  /* align-content: center; */
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 2;
  margin: 0 40px 70px;
}

.tag-selection {
  /* width: 165px; */
  /* max-height: 60px; */
  /* max-width: 185px; */
  /* min-width: 100px; */
  /* background-color: red; */
  padding: 5px 10px;
  margin: 0 5px 10px;
  text-align: center;
  border-radius: 10px;
  /* margin: 0 17px 20px; */
  /* color: white; */
  cursor: pointer;
}

.tags-button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  /* float: right; */
  margin: 0 auto;
}

.tag-center-button {
  text-align: center;
  margin: 0 auto;
  padding: 12px 0;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.tags-select {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  /* height: 200px; */
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
  background-color: white;
  border-radius: 15px;
  /* Fade screen while highlighting this div */
  box-shadow: 0 0 0 1000px rgba(0,0,0,.3);
  /* for real browsers */
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
  /* pointer-events: none; */
}

/* #hobby-search {
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
} */

.compliment {
  position: fixed;
  /* display: flex; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 360px;
  background-color: white;
  border-radius: 15px;
  /* border: solid; */
  /* Fade screen while highlighting this div */
  box-shadow: 0 0 0 1000px rgba(0,0,0,.3);
  /* for real browsers */
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
  /* pointer-events: none; */
}